<footer id="footer">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-2">
                <img class="company-image" width="120px;" src="{{ 'assets/img/ELIXIR_BELGIUM_white_background.svg' | relative_url }}" alt="Elixir Belgium logo"/>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <img class="company-image" width="120px;" src="{{ 'images/FWO-logo.svg' | relative_url }}" alt="FWO logo"/>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <ul>
                    <li><a href="https://elixir-belgium.org/">ELIXIR-Belgium</a></li>
                    <li><a href="{{ '/privacy.html' | relative_url }}">Privacy</a></li>
                    <li><a href="{{ '/about_us.html' | relative_url }}">About us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2">
                <img class="company-logo" src="{{ 'assets/img/RDM_guide_condensed.svg' | relative_url }}" alt="RDM Guide logo condensed" width="88px">
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center text-muted p-4 "><a class="no_icon" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
        alt="Creative Commons License" style="width: 70px;"
        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <span
        xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource"
        property="dct:title" rel="dct:type">RDM Guide</span> by <a class="no_icon"
        xmlns:cc="http://creativecommons.org/ns#" href="https://elixir-belgium.org/"
        property="cc:attributionName" rel="cc:attributionURL">ELIXIR Belgium</a> is licensed under a <a
        class="no_icon" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
        Attribution-ShareAlike 4.0 International License</a>, except where otherwise noted.<br> All material under this licence can be freely used, as long as ELIXIR Belgium <a class="no_icon" rel="license" href="https://rdm.elixir-belgium.org">RDM Guide</a> is credited as the author
    </div>
</footer>
