<div class="profile-container">
    <div class="profile-card">
        <img src="https://avatars.githubusercontent.com/floradanna" alt="image1" class="profile-icon" />
        <div class="profile-name">Flora D'Anna</div>
        <div class="profile-position">Data Steward</div>
        <ul class="social-icons">
            <li><a class="no_icon" href="https://github.com/floradanna"><i class="fa fa-github"></i></a></li>
            <li><a class="no_icon" href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="profile-card">
        <img src="https://avatars.githubusercontent.com/roncoronimiguel" alt="image2" class="profile-icon" />
        <div class="profile-name">Miguel Roncoroni</div>
        <div class="profile-position">Project manager</div>
        <ul class="social-icons">
            <li><a class="no_icon" href="https://github.com/roncoronimiguel"><i class="fa fa-github"></i></a></li>
            <li><a class="no_icon" href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="profile-card">
        <img src="https://avatars.githubusercontent.com/bedroesb" alt="image3" class="profile-icon" />
        <div class="profile-name">Bert Droesbeke</div>
        <div class="profile-position">Web Developer</div>
        <ul class="social-icons">
            <li><a class="no_icon" href="https://github.com/bedroesb"><i class="fa fa-github"></i></a></li>
            <li><a class="no_icon" href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
</div>
