{%- assign sidebar = site.data[page.sidebar] %}
<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">{{sidebar.product}} {{sidebar.version}}</li>
    {%- for folder in sidebar.subitems %}
    {%- if page.url == folder.url %}
    <li class="active">
    {%- else %}
    <li>
    {%- endif %}
    {%- if folder.external_url %}
        <a title="{{folder.title}}" href="{{folder.external_url}}" target="_blank" rel="noopener">{{folder.title}}</a>
    {%- else %}    
        <a title="{{folder.title}}" href="{{folder.url}}">{{ folder.title }}</a>
    {%- endif %}
    {%- if folder.subitems %}
        <ul>
            {%- for subfolder in folder.subitems %}
            {%- if page.url == subfolder.url %}
            <li class="active">
            {%- else %}
            <li>
            {%- endif %}
            {%- if subfolder.external_url %}
                <a title="{{subfolder.title}}" href="{{subfolder.external_url}}" target="_blank" rel="noopener">{{subfolder.title}}</a>
            {%- else %}    
                <a title="{{subfolder.title}}" href="{{subfolder.url}}">{{ subfolder.title }}</a>
            {%- endif %}
            {%- if subfolder.subitems %}
                <ul>
                    {%- for subsubfolder in subfolder.subitems %}
                    {%- if page.url == subsubfolder.url %}
                    <li class="active">
                    {%- else %}
                    <li>
                    {%- endif %}
                    {%- if subsubfolder.external_url %}
                        <a title="{{subsubfolder.title}}" href="{{subsubfolder.external_url}}" target="_blank" rel="noopener">{{subsubfolder.title}}</a>
                    {%- else %}    
                        <a title="{{subsubfolder.title}}" href="{{subsubfolder.url}}">{{ subsubfolder.title }}</a>
                    {%- endif %}
                    </li>
                    {%- endfor %}
                </ul>
            {%- endif %}
            </li>
            {%- endfor %}
        </ul>
    {%- endif %}
    </li>
    {%- endfor %}
</ul>
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
